.mainContainer1{
    border: 2px solid red;
    height: 50vh;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
}
.one, .two{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.subContainer1
{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}
.subContainer2
{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}
.subContainer3
{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}
.subContainer4{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}
