* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* border: 2px solid black; */
    margin: 20px auto;
    text-align: center;
    /* word-spacing: 0.2rem; */
    /* letter-spacing: 0.1rem; */
}

.main-header, h2 {
    background-color: #edeef0;
    padding: 10px;
    padding-bottom: 5px;
    color:  #f2a93b;
}


#subheading {
    color: #737373;
    padding-bottom: 15px;
}

.lowerdiv {
    background-color:#eff0f2;
    /* padding: 20px */
}

#graph {
    line-height: 1.0cm;
    margin: 10px auto;
    text-align: start;
}

.buttonContainer {
    background-color: white;
    margin: 20px;
}

button {
    padding: 10px;
    text-transform: uppercase;
    background-color: #f2a93b;
    color: white;
    text-shadow: 1px 1px 1px gray;
    border: none;
}

#graphTitle {
    margin:10px 0;
    align-items: flex-start;
}

