*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: row;
}
.left-container{
  width: 30%;
  height: 100vh;

  display: flex;
  flex-direction: column;
   align-items: center;
   background-color: aliceblue;
  
}
.middle{
 display: flex;
 flex-direction: column;




}
.imp-links img{
      width: 60px;
      border-radius: 50%;
      cursor: pointer;
}
.middle a i{
  
  
  width: 25px;
  margin-right: 15px;
  color: black;

}
.middle a{
    margin-top: 100px;
   color: black;
   font-weight: 800;
   font-size: larger;
   
}
.bottom-container{
  width: 300px;
  height: 100px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  border: 2px solid seagreen;
  background-color: aqua;
  color: white;
  font-size: larger;
  font-weight: 800;
  border-radius: 50px;
}
.bottom-container a{


  
  margin-left: 100px;
  align-items: center;
}
.right-container{
   width: 70%;
   height: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;

}
h1{
  color:black;
  margin-top: 5%;
  
  
  font-weight: 900;
}
.white-line{
  width: 20%;
  height: 3%;
  border: 2px solid white;
  border-radius: 25%;
  background-color: white;
}
.first{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    margin-top:10% ;
     width:70% ;
     height:20% ;
     border: 2px solid white;
     background-color: white;

}
.first-firstsection i{
  
     margin-top: 80px;
     padding-right: 40px;
     align-items: center;
    
}
.first-secondsection h4{
  margin-top: 10%;
    color: black;
}
.line{
  width: 100%;
  height: 10%;
  border: 2px solid skyblue;
  border-radius: 10%;
  background-color: skyblue;
}
.first-thirdsection h4{
   color: black;
   font-size: medium;
   
}